html, body, .main-div {
    width: 100%;
    height: 100%;
    background: black;
}

.partial-parent-div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

.map-partial-div {
    width: 40%;
    height: 100%;
    float: left;
    background: #ac5e00;
    border: 1px solid black;
}

.table-partial-div {
    border: 1px solid black;
    width: 59%;
    height: 100%;
    background: #ac5e00;
    float: right;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}

.selected {
    background-color: black;
    color: white;
    font-weight: bold;
}
