<div data-ng-controller="MapController" class="map-partial-div">
    <h1>Map with {{numberOfmarkers}} markers and selection index {{selectionIndex}}</h1>
    <span>{{currentSelectedItem}}</span>



    <p>
    <h2>HIER!!!!!: {{selected}} - {{selected.city}}</h2>
        <span>newMarkerTitel: {{newMarkerTitel}}</span><br/>
        <span>newMarkerTitel: {{newMarkerPlace}}</span>
    </p>

    <leaflet class="map" markers="markers" paths="paths" lf-center="center"></leaflet>
</div>

<div data-ng-controller="RouteTableController" class="table-partial-div">
    <h1>{{ getTitel() }}</h1>
    enter Titel ... <input type="text" data-ng-model="newTitel"/>
    <button class='button' ng-click="createNewRoute()">create new Route</button>


    <h2>selected index {{selectionIndex}}</h2>
    <table class="hover">
        <thead>
        <td>Titel</td>
        <td>Action</td>
        </thead>

        <tbody>

        <tbody ng-repeat="routePart in routeDataService.routeTableEntries"
               ng-class="{'selected':$index === selectionIndex}"
               ng-click="onSelectTableEntry($index)">
        <tr route-part description="routePart.getShortDescriptor()"/>
        </tbody>
        </tbody>

        <tfoot>
        <td>
            City: <input type="text" data-ng-model="newCity"/> Titel: <input type="text" data-ng-model="shortDescriptor"/>
        </td>
        <td>
            <button type="button" class='button' ng-click="addRoutePoint()">Add</button>
        </td>
        </tfoot>
    </table>


    <button class="button" ng-click="checkForFileAPISuuport()">check File API</button>
    <input type="file" id="files" name="files[]" multiple onchange="angular.element(this).scope().selectLocalFile(this)"/>
    <!--<output id="list"></output>-->
    {{filelist}}
    <!--http://luxiyalu.com/angular-all-about-inputfile/-->

    <edit-modal></edit-modal>
</div>

