<div data-ng-controller="MapController" class="map-partial-div">
    <leaflet class="map" markers="markers" paths="paths" lf-center="center"></leaflet>
</div>

<div data-ng-controller="RouteTableController" class="table-partial-div">
    <h1>{{ getTitel() }}</h1>
    enter Titel ... <input type="text" data-ng-model="newTitel"/>
    <button class='button' ng-click="createNewRoute()">create new Route</button>


    <!--<div ng-repeat="routePart in routeDataService.routeTableEntries"-->
    <!--ng-class="{'selected':$index === selectionIndex}"-->
    <!--ng-click="onSelectTableEntry($index)"-->
    <!--style="border-color: black; border-style:solid; margin-bottom: 5px;">-->
    <!--<div class="row">-->
    <!--<div class="small-10 columns" style="background-color: grey">{{routePart.getTitel()}}</div>-->
    <!--<div class="small-2 columns" style="background-color: red">-->
    <!--<button ng-controller="EditModalController" ng-show="$index === selectionIndex" type="button" class='button' ng-click="openEditModal()">-->
    <!--Edit-->
    <!--</button>-->
    <!--<span ng-show="$index !== selectionIndex">-->
    <!--Not selected-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="small-12 columns" style="background-color: green">{{routePart.getShortDescriptor()}}</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="small-12 columns" style="background-color: green">-->
    <!--<div class="row" ng-repeat="image in images" style="background-color: red">-->
    <!--&lt;!&ndash;<a class="th [radius]" href="{{image.source}}">&ndash;&gt;-->
    <!--<img class="thumbnail" ng-src="{{image.source}}">-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--</div>-->
    <!--<route-part images="routePart.content.images"/>-->
    <!--</div>-->
    <!--</div>-->


    <!--</div>-->


    <div>
        <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="routePart in routeDataService.routeTableEntries" ng-click="onSelectTableEntry($index)" is-open="false">
                <accordion-heading>
                    <p ng-class="{'selected':$index === selectionIndex}" >
                        RouteSection: {{routePart.getShortDescriptor()}}
                    </p>
                    <route-part images="routePart.content.images"/>
                </accordion-heading>
                <div style="background-color: black">
                    <p>Titel: {{routePart.getTitel()}}</p>
                </div>
                <div style="background-color: red">
                    <button ng-controller="EditModalController" ng-show="$index === selectionIndex" type="button" class='button' ng-click="openEditModal()">
                        Edit
                    </button>
                </div>
                <div style="background-color: orange">
                    <p>and some other text</p>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>

