<div data-ng-controller="MapController" class="map-partial-div">
    <!--<h1>Map with {{numberOfmarkers}} markers and selection index {{selectionIndex}}</h1>-->
    <!--<span>{{currentSelectedItem}}</span>-->


    <!--<p>-->
    <!--<h2>HIER!!!!!: {{selected}} - {{selected.city}}</h2>-->
    <!--<span>newMarkerTitel: {{newMarkerTitel}}</span><br/>-->
    <!--<span>newMarkerTitel: {{newMarkerPlace}}</span>-->
    <!--</p>-->

    <leaflet class="map" markers="markers" paths="paths" lf-center="center"></leaflet>
</div>

<div data-ng-controller="RouteTableController" class="table-partial-div">
    <h1>{{ getTitel() }}</h1>
    enter Titel ... <input type="text" data-ng-model="newTitel"/>
    <button class='button' ng-click="createNewRoute()">create new Route</button>


    <h2>selected index {{selectionIndex}}</h2>
    <table>
        <thead>
        <td>Titel</td>
        <td>Action</td>
        </thead>

        <tbody>

        <tbody ng-repeat="routePart in routeDataService.routeTableEntries"
               ng-class="{'selected':$index === selectionIndex}"
               ng-click="onSelectTableEntry($index)">
        <td route-part description="routePart.getShortDescriptor()"/>
        <td>
            <button ng-controller="EditModalController" ng-show="$index === selectionIndex" type="button" class='button' ng-click="openEditModal()">Edit
            </button>
        </td>
        </tbody>
        </tbody>
        <tfoot>
            <td>
                <div class="row">
                    <div class="large-7 columns">
                        <label>city/place
                            <input data-ng-model="newCity" type="text" placeholder="enter city or country"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-7 columns">
                        <label>short description
                            <input data-ng-model="shortDescriptor" type="text" placeholder="enter short description"/>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="large-1 columns">
                        <button type="button" class='button' ng-click="addRoutePoint()">Add</button>
                    </div>
                </div>
            </td>
        </tfoot>
    </table>
    <edit-modal></edit-modal>
</div>

