<div ng-controller="EditModalController">
        <h1>Enter route details</h1>
    <div class="row">
      <div class="large-12 columns">
        <label>Titel for this route point
          <input ng-model="selected.titel" type="text" placeholder="enter titel" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Place/City
          <input ng-model="selected.city" type="text" placeholder="enter place or city" />
        </label>
      </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Description
                <textarea ng-model="selected.description" placeholder="enter description"></textarea>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <image-upload></image-upload>
        </div>
    </div>
    <button class="button" ng-click="ok()">OK</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
<!--http://foundation.zurb.com/sites/docs/v/5.5.3/components/forms.html-->
</div>

